<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CREAM: Cache Rules Everything Around Me</title>
  </head>
  <body>
    <h1>People</h1>
    <ol id="people-list">

    </ol>
    <button onclick="showNewPersonArea();">New Person</button>
    <div id="new-person" style="visibility: hidden;">
    	<label for="first_name">First Name:</label> <input id="first_name"/><br/>
    	<label for="last_name">Last Name:</label> <input id="last_name"/><br/>
    	<button onclick="saveNewPerson();">Save</button>
    </div>
    <script src="js/{{{modstamp}}}/app.js"></script>
  </body>
</html>